body
{
	font-size: 1em;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
}
.search_container
{
	-webkit-transition: margin-top .3s; /* Chrome */
	transition: margin-top .3s;
	margin-top: 300px;
	text-align: center;
}
.search_container.submitted
{
	margin-top: 30px;
}

#search_bar
{
	text-align: center;
	max-height: 100px;
}
#search_form
{
	margin: auto;
	width: 800px;
	height: 50px;
	padding: 0;
}
input:focus
{
	outline-width: 0;
}
input[type=text]
{
	border-width: 0px;
	height: 46px;
	font-size: 1.4em;
	width: 736px;
	box-shadow: #888888 0px 2px 6px;
}
input[type=submit]
{
	background-color: #CCCCCC;
	float: right;
	width: 58px;
	height: 49px;
	color: #FFFFFF;
	background-color: #222255;
	border-width: 0px;
	padding-left: 5px;
	box-shadow: #888888 0px 2px 6px;
}
#search_results
{
	text-align: center;
	margin-top: 15px;
	padding: auto;
}

#no_result
{
	width: 600px;
	height: 40px;
	color: #222222;
	background-color: #CCCCDD;
	padding-left: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 5px;
	box-shadow: #888888 0px 1.5px 3px;
}
.search_result
{
	width: 800px;
	height: 40px;
	color: #222222;
	background-color: #CCCCDD;
	padding-left: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding: 5px;
	box-shadow: #888888 0px 1.5px 3px;
	opacity: 1.0;
	cursor: pointer;
	-webkit-transition: padding-left .1s, background-color .1s linear;
	-moz-transition: padding-left .1s, background-color .1s linear;
	-o-transition: padding-left .1s, background-color .1s linear;
	-ms-transition: padding-left .1s, background-color .1s linear;
	transition: padding-left .1s, background-color .1s linear;
}
.search_result.ng-enter
{
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
}
.search_result.ng-leave
{
	transition: 0s;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
}
.search_result:hover
{
	background-color: #FFFFFF;
	padding-left: 10px;
}

.label
{
	font-size: .8em;
	display: inline;
	font-weight: bold;
	color: #444455;
}
.light
{
	width: 100%;
	display: block;
	text-align: left;
}
.light.name
{
}
.light.client
{
	margin-top: 5px;
}

.no_sel
{
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
	user-select: none;
}

#edit_pane
{
	text-align: center;
}
#edit_subject_info
{
	font-size: .75em;
	color: #888888;
	margin: -6px auto 10px auto;
}
.edit_subject_attr
{
	color: #333333;
	font-weight: bold;
}
#waveform
{
	display: block;
	text-align: center;
	padding: auto;
}

.wave_canvas
{
	z-index: 0;
	position: relatve;
	margin: 10px auto 5px auto;
	cursor: crosshair;
}
.wave_canvas:active
{
	cursor: cell;
}

.edit_button
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 4px;
	display: inline;
	background-color: #FFFFFF;
	font-weight: bold;
	box-shadow: #888888 0px 1.5px 3px;
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-color: #FFFF00;
	-webkit-transition: border-bottom-width .2s, padding-bottom .2s;
	-moz-transition: border-bottom-width .2s, padding-bottom .2s;
	-o-transition: border-bottom-width .2s, padding-bottom .2s;
	-ms-transition: border-bottom-width .2s, padding-bottom .2s;
	transition: border-bottom-width .2s, padding-bottom .2s;
}
.edit_button:hover
{
	border-bottom-width: 4px;
	padding-bottom: 0px;
}

.rotate_button
{
	border-color: #FF00FF;
}
.preset_button
{
	border-color: #FFFF00;
}
.clear_button
{
	-webkit-transition: color .2s, border-bottom-width .2s, padding-bottom .2s;
	-moz-transition: color .2s, border-bottom-width .2s, padding-bottom .2s;
	-o-transition: color .2s, border-bottom-width .2s, padding-bottom .2s;
	-ms-transition: color .2s, border-bottom-width .2s, padding-bottom .2s;
	transition: color .2s, border-bottom-width .2s, padding-bottom .2s;
}
.clear_button:hover
{
	border-color: #FF0000;
	color: #FF0000;
}

#red_select
{
	border-color: #FF0000;
	color: #FF0000;
}
#green_select
{
	border-color: #00FF00;
	color: #00FF00;
}
#blue_select
{
	border-color: #0000FF;
	color: #0000FF;
}
.utility_container
{
	margin: auto auto auto 50px;
	display:inline;
}