<!doctype HTML>
<html ng-app='LumaClient'>
<head>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
	<script type='text/javascript' src='js/libs/angular.min.js'></script>
	<script type='text/javascript' src='js/libs/angular-animate.min.js'></script>
	<script type='text/javascript' src='js/libs/jquery-2.1.3.min.js'></script>
	<script type='text/javascript' src='js/app.js'></script>
	<title>CSH LUMA</title>
</head>
<body>
	<!-- The container that holds the search bar. This is governed by the	 -->
	<!-- QueryController. If a query has been submitted we add a new class	 -->
	<!-- to the component to re-align it so the query results are centered.  -->
	<div class='search_container' ng-controller='QueryController as query'
	ng-class='query.submitted?"submitted":""'>
		<!-- The search bar itself. This contains a form that talks through  -->
		<!-- the QueryController's onSubmit() callback to query the server	 -->
		<!-- after storing the input's value in the QueryController's		 -->
		<!-- query field.													 -->
		<div id='search_bar'>
			<form id='search_form' name='search_form' 
			ng-submit='query.onSubmit()' novalidate>
				<div>
					<input ng-model='query.query' type='text' 
					placeholder='Search for lights or clients by name or IP address.'
					autofocus/>
					<input type='submit' value='Search.'/>
				</div>
			</form>
		</div>
		<!-- Parent container for all the returned search results.			 -->
		<div id='search_results'>
			<!-- This search result div is repeated for each result	returned -->
			<!-- by the server, each with their own ResultController guiding -->
			<!-- their functionality.										 -->
			<div class='search_result'
			ng-controller='ResultController as result'
			ng-click='result.onSelect(light, query)'
			ng-repeat='light in query.response'>
				<div class='result_content'>
					<div class='light_info'>
						<div class='light name'>
							<p class='label'>Name:</p>{{light.name}}
						</div>
						<div class='light client'>
							<p class='label'>Client:</p>{{light.client}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- The "hey man that was a crappy search try again buddy" dialog.	 -->
		<!-- It's only shown when there are no results, according to		 -->
		<!-- query.NoResults.												 -->
		<div id='no_result' ng-show='query.noResults'>
			<p>No LUMA lights or clients found. Try a different search.</p>
		</div>
	</div>
	 <!-- The edit pane holds the editing UI.  -->
	 <div id='edit_pane'> 
		 <!-- The waveform editor paradigm allows users to edit the pattern	 -->
		 <!-- as three waveforms and periods. 								 -->
		 <div id='waveform' class='editor'>
			<!-- The three edit canvases and their container divs.			 -->
			<div id='red' class='wave_channel'> 
				<canvas id='red_canvas' class='wave_canvas' width='800px' height='450px'>
				Your browser does not support HTML5 Canvas.
				</canvas> 
			</div> 
			<div id='green' class='wave_channel'>
				<canvas id='green_canvas' class='wave_canvas' width='800px' height='450px'>
				Your browser does not support HTML5 Canvas.
				</canvas> </div> 
			<div id='blue' class='wave_channel'>
				<canvas id='blue_canvas' class='wave_canvas' width='800px' height='450px'>
				Your browser does not support HTML5 Canvas.
				</canvas> 
			</div>
			<div id='red_select' class='wave_select_button'>Red Channel</div>
			<div id='green_select' class='wave_select_button'>Green Channel</div>
			<div id='blue_select' class='wave_select_button'>Blue Channel</div>
		 </div> 
		 <!-- The node editor paradigm allows users to create a set of nodes and transitions.  -->
		 <div id='node' class='editor'></div> 
	 </div> 
</body>
</html>