<!doctype HTML>
<html ng-app='LUMAClient'>
<head>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
	<link rel='stylesheet' type='text/css' href='css/ng-modal.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src='js/app.js'></script>
	<script src='js/ng-modal.min.js'></script>
	<script src='js/server-service.js'></script>
	<script src='js/state-service.js'></script>
	<script src='js/query-controller.js'></script>
	<script src='js/result-controller.js'></script>
	<script src='js/editor-controller.js'></script>
	<script src='js/waveform-controller.js'></script>
	<script src='js/wavelength-controller.js'></script>
	<title>CSH LUMA</title>
</head>
<body>
	<!-- The container that holds the search bar. This is governed by the	 -->
	<!-- QueryController. If a query has been submitted we add a new class	 -->
	<!-- to the component to re-align it so the query results are centered.  -->
	<div class='search_container' ng-controller='QueryController as query'
	ng-class='state.submitted?"submitted":""'>
		<!-- The search bar itself. This contains a form that talks through  -->
		<!-- the QueryController's onSubmit() callback and the various LUMA	 -->
		<!-- Angular Services to get a list of relevant lights from the		 -->
		<!-- server.														 -->
		<div id='search_bar'>
			<form id='search_form' name='search_form' 
			ng-submit='query.onSubmit()' novalidate>
				<div>
					<input id='search_text' type='text' 
					autofocus
					placeholder='Search LUMA for lights and clients by name or IP address.'
					ng-focus='query.onFocus()'
					ng-model='state.query' />			
					<input id='search_submit' type='submit' value='Search'/>
				</div>
			</form>
		</div>
		
		<!-- Parent container for all the returned search results.			 -->
		<div id='search_results'>
			<!-- The search_result element is repeated for every result in	 -->
			<!-- the search query results.									 -->
			<div class='search_result'
			ng-controller='ResultController as result'
			ng-repeat='light in state.queryResults'
			ng-click='result.onSelect(light)'>
				<div class='result_content'>
					<div class='light_info'>
						<div class='light name'>
							<p class='label'>Name: </p>{{light.name}}
						</div>
						<div class='light client'>
							<p class='label'>Client: </p>{{light.client}}
						</div>
					</div>
				</div>
			</div>
		</div>
		</luma-search-results>
		<!-- The "hey man that was a crappy search try again buddy" dialog.	 -->
		<!-- It's only shown when there are no results, according to		 -->
		<!-- query.NoResults.												 -->
		<div id='no_result' ng-show='state.noResults'>
			<p>No LUMA lights or clients found. Try a different search.</p>
		</div>
	</div>
	 <!-- The edit pane holds the editing UI.  -->
	 <div ng-controller='EditorController as editor' 
	 ng-show='state.isEditing'
	 id='edit_pane'>
		<div id='edit_subject_info'>
			You are editing the 
			<span class='edit_subject_attr'>{{state.lightState.name}}</span> 
			light on the 
			<span class='edit_subject_attr'>{{state.lightState.client}}</span> 
			client.
		</div>
		<!-- The waveform editor paradigm allows users to edit the pattern	 -->
		<!-- as three waveforms and periods. 								 -->
		<div id='waveform' class='editor'
		ng-controller='WaveformController as wave'>
			<!-- The three edit canvases and their container divs.			 -->
			<div id='red' class='wave_channel no_sel' ng-show='channel=="red"'>
				<!-- These buttons all reset the waveform to a preset shape. -->
				<div class='edit_button preset_button' ng-click='wave.sine(rCtx,state.r_v)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(rCtx,state.r_v)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(rCtx,state.r_v)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(rCtx,state.r_v)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(rCtx,state.r_v)'>Triangle</div>
				<canvas id='red_canvas' class='wave_canvas' width='1200' height='450'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div> 
			<div id='green' class='wave_channel no_sel' ng-show='channel=="green"'>
				<div class='edit_button preset_button' ng-click='wave.sine(gCtx,state.g_v)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(gCtx,state.g_v)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(gCtx,state.g_v)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(gCtx,state.g_v)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(gCtx,state.g_v)'>Triangle</div>
				<canvas id='green_canvas' class='wave_canvas' width='1200' height='450'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div> 
			<div id='blue' class='wave_channel no_sel' ng-show='channel=="blue"'>
				<div class='edit_button preset_button' ng-click='wave.sine(bCtx,state.b_v)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(bCtx,state.b_v)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(bCtx,state.b_v)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(bCtx,state.b_v)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(bCtx,state.b_v)'>Triangle</div>
				<canvas id='blue_canvas' class='wave_canvas' width='1200' height='450'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div>
			<!-- The button that raises the wavelength dialog.				 -->
			<div ng-click='raisePeriodDialog()' id='edit_wavelengths' class='edit_button'>
				Wavelengths
			</div>
			<!-- The three channel selection buttons. 						 -->
			<div ng-click='channel="red"' id='red_select' class='edit_button wave_select_button'>
				Red Channel
			</div>
			<div ng-click='channel="green"' id='green_select' class='edit_button wave_select_button'>
				Green Channel
			</div>
			<div ng-click='channel="blue"' id='blue_select' class='edit_button wave_select_button'>
				Blue Channel
			</div>
			<!-- The wavelength modal.										 -->
			<modal-dialog 
			show='showPeriodDialog'
			width='30em' 
			height='17em'>
				<!-- The title bar of the wavelength editor.				 -->
				<div id='wavelength_header'>
					Edit Wavelengths
				</div>
				<!-- The form used: 3 text inputs and a submit.				 -->
				<form 
				ng-controller='WavelengthController as wctrl'
				ng-submit='wctrl.onSubmit();supressPeriodDialog();'
				id='wavelength_form' name='wavelength_form' novalidate>
					<!-- Each text input is wrapped up with a label.		 -->
					<div class='wavelength_container'>
						<p class='wavelength_label red'>Red</p>
						<input
						ng-model='rLambda'
						ng-model-options='{ }'
						ng-change='wctrl.updatePreview()'
						placeholder='Red wavelength'
						id='red_wavelength_input'
						class='wavelength_input' type='text'/>
					</div>
					<div class='wavelength_container'>
						<p class='wavelength_label green'>Green</p>
						<input 
						ng-model='gLambda'
						ng-model-options='{ }'
						ng-change='wctrl.updatePreview()'
						placeholder='Green wavelength'
						id='green_wavelength_input'
						class='wavelength_input' type='text'/>
					</div>
					<div class='wavelength_container'>
						<p class='wavelength_label blue'>Blue</p>
						<input 
						ng-model='bLambda'
						ng-model-options='{ }'
						ng-change='wctrl.updatePreview()'
						placeholder='Blue wavelength'
						id='blue_wavelength_input'
						class='wavelength_input' type='text'/>
					</div>
					<!-- This canvas is used to illustrate roughly the		 -->
					<!-- cyclic relations of the current wavelengths.		 -->
					<canvas id='wavelength_canvas' width='425' height='50'>
						Your browswer does not support HTML5 canvases.
					</canvas>
					<!-- The cancel button is just another div-based button. -->
					<div id='wavelength_cancel' ng-click='supressPeriodDialog()'
					class='edit_button'>Cancel</div>
					<!-- Whereas the submit button is actually a submit.	 -->
					<input 
					id='wavelength_submit' class='edit_button' type='submit' value='Submit'/>
				</form>
			</modal-dialog>
			<!-- Some wave manipulation utilities.							 -->
			<div class='utility_container no_sel' ng-show='channel=="red"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(rCtx,state.r_v)'>Rotate Right</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(rCtx,state.r_v)'>Rotate Left</div>
				<div class='edit_button clear_button' ng-click='wave.clear(rCtx,state.r_v)'>Clear</div>
			</div>
			<div class='utility_container no_sel' ng-show='channel=="green"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(gCtx,state.g_v)'>Rotate Right</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(gCtx,state.g_v)'>Rotate Left</div>
				<div class='edit_button clear_button' ng-click='wave.clear(gCtx,state.g_v)'>Clear</div>
			</div>
			<div class='utility_container no_sel' ng-show='channel=="blue"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(bCtx,state.b_v)'>Rotate Left</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(bCtx,state.b_v)'>Rotate Right</div>
				<div class='edit_button clear_button' ng-click='wave.clear(bCtx,state.b_v)'>Clear</div>
			</div>
		 </div>
		 <!-- The node editor paradigm allows users to create a set of nodes and transitions.  -->
		 <div id='node' class='editor'></div> 
	 </div> 
</body>
</html>