<!doctype HTML>
<html ng-app='LumaClient'>
<head>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src='js/app.js'></script>
	<title>CSH LUMA</title>
</head>
<body>
	<!-- The container that holds the search bar. This is governed by the	 -->
	<!-- QueryController. If a query has been submitted we add a new class	 -->
	<!-- to the component to re-align it so the query results are centered.  -->
	<div class='search_container' ng-controller='QueryController as query'
	ng-class='query.submitted?"submitted":""'>
		<!-- The search bar itself. This contains a form that talks through  -->
		<!-- the QueryController's onSubmit() callback to query the server	 -->
		<!-- after storing the input's value in the QueryController's		 -->
		<!-- query field.													 -->
		<div id='search_bar'>
			<form id='search_form' name='search_form' 
			ng-submit='query.onSubmit()' novalidate>
				<div>
					<input ng-model='query.query' type='text' 
					placeholder='Search LUMA for lights and clients by name or IP address.'
					autofocus/>
					<input type='submit' value='Search.'/>
				</div>
			</form>
		</div>
		<!-- Parent container for all the returned search results.			 -->
		<div id='search_results'>
			<!-- This search result div is repeated for each result	returned -->
			<!-- by the server, each with their own ResultController guiding -->
			<!-- their functionality.										 -->
			<div class='search_result'
			ng-controller='ResultController as result'
			ng-click='result.onSelect(light, query)'
			ng-repeat='light in query.response'>
				<div class='result_content'>
					<div class='light_info'>
						<div class='light name'>
							<p class='label'>Name:</p>{{light.name}}
						</div>
						<div class='light client'>
							<p class='label'>Client:</p>{{light.client}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- The "hey man that was a crappy search try again buddy" dialog.	 -->
		<!-- It's only shown when there are no results, according to		 -->
		<!-- query.NoResults.												 -->
		<div id='no_result' ng-show='query.noResults'>
			<p>No LUMA lights or clients found. Try a different search.</p>
		</div>
	</div>
	 <!-- The edit pane holds the editing UI.  -->
	 <div id='edit_pane' ng-show='isEditing'> 
		 <!-- The waveform editor paradigm allows users to edit the pattern	 -->
		 <!-- as three waveforms and periods. 								 -->
		 <div id='waveform' class='editor'
		 ng-controller='WaveformController as wave'>
			<!-- The three edit canvases and their container divs.			 -->
			<div id='red' class='wave_channel no_sel' ng-show='channel=="red"'>
				<!-- These buttons all reset the waveform to a preset shape. -->
				<div class='edit_button preset_button' ng-click='wave.sine(rCtx,rVals)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(rCtx,rVals)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(rCtx,rVals)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(rCtx,rVals)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(rCtx,rVals)'>Triangle</div>
				<canvas id='red_canvas' class='wave_canvas' width='1024' height='576'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div> 
			<div id='green' class='wave_channel no_sel' ng-show='channel=="green"'>
				<div class='edit_button preset_button' ng-click='wave.sine(gCtx,gVals)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(gCtx,gVals)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(gCtx,gVals)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(gCtx,gVals)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(gCtx,gVals)'>Triangle</div>
				<canvas id='green_canvas' class='wave_canvas' width='1024' height='576'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div> 
			<div id='blue' class='wave_channel no_sel' ng-show='channel=="blue"'>
				<div class='edit_button preset_button' ng-click='wave.sine(bCtx,bVals)'>Sine</div>
				<div class='edit_button preset_button' ng-click='wave.saw(bCtx,bVals)'>Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.revsaw(bCtx,bVals)'>Reverse Sawtooth</div>
				<div class='edit_button preset_button' ng-click='wave.square(bCtx,bVals)'>Square</div>
				<div class='edit_button preset_button' ng-click='wave.triangle(bCtx,bVals)'>Triangle</div>
				<canvas id='blue_canvas' class='wave_canvas' width='1024' height='576'>
					Your browser does not support HTML5 Canvases.
				</canvas>
			</div>
			<!-- The three channel selection buttons. 						-->
			<div ng-click='channel="red"' id='red_select' class='edit_button wave_select_button'>
				Red Channel
			</div>
			<div ng-click='channel="green"' id='green_select' class='edit_button wave_select_button'>
				Green Channel
			</div>
			<div ng-click='channel="blue"' id='blue_select' class='edit_button wave_select_button'>
				Blue Channel
			</div>
			<!-- Some wave manipulation utilities.							-->
			<div class='utility_container no_sel' ng-show='channel=="red"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(rCtx,rVals)'>Rotate Right</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(rCtx,rVals)'>Rotate Left</div>
				<div class='edit_button clear_button' ng-click='wave.clear(rCtx,rVals)'>Clear</div>
			</div>
			<div class='utility_container no_sel' ng-show='channel=="green"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(gCtx,gVals)'>Rotate Right</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(gCtx,gVals)'>Rotate Left</div>
				<div class='edit_button clear_button' ng-click='wave.clear(gCtx,gVals)'>Clear</div>
			</div>
			<div class='utility_container no_sel' ng-show='channel=="blue"'>
				<div class='edit_button rotate_button' ng-click='wave.rotateLeft(bCtx,bVals)'>Rotate Left</div>
				<div class='edit_button rotate_button' ng-click='wave.rotateRight(bCtx,bVals)'>Rotate Right</div>
				<div class='edit_button clear_button' ng-click='wave.clear(bCtx,bVals)'>Clear</div>
			</div>
		 </div> 
		 <!-- The node editor paradigm allows users to create a set of nodes and transitions.  -->
		 <div id='node' class='editor'></div> 
	 </div> 
</body>
</html>